*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Segoe UI",sans-serif;
    background:#dff6f2;
    color:#333;
}
.navbar{
    display:flex;
    justify-content:center;
    gap:40px;
    background:#fff;
    padding:15px;
    border-bottom:1px solid #ddd;
}
.navbar a{
    text-decoration:none;
    color:#028174;
    font-weight:bold;
    font-size: 120%;
    background-color: #dff6f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 6px;
    border-radius: 10px;
}
h1{
    font-size:36px;
}
h2{
    color:#028174;
    margin-bottom:10px;
}
button,input[type="submit"]{
    background:#028174;
    color:#fff;
    padding:12px 20px;
    border-radius:6px;
    border:none;
    cursor:pointer;
}
.facilities{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}
.card{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}
.room-card{
    background:#fff;
    border-radius:12px;
    margin:20px auto;
    padding:20px;
    max-width:900px;
    box-shadow:0 5px 12px rgba(0,0,0,0.1);
}
