*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Segoe UI",sans-serif;
    background:#dff6f2;
    color:#333;
}
.navbar{
    display:flex;
    justify-content:center;
    gap:40px;
    background:#fff;
    padding:15px;
    border-bottom:1px solid #ddd;
}